# Forma recomendada (URL única). Exemplo:
DATABASE_URL="postgresql://usuario:senha@1.1.0.0:5432/opcoes"

# Nome do banco de dados que você criou no PostgreSQL
POSTGRES_DB=example
# Usuário com permissão para acessar esse banco
POSTGRES_USER=example
# Senha para o usuário do banco
POSTGRES_PASSWORD="example"
# IP do seu servidor de banco de dados
DB_HOST=1.1.0.0
# Porta do seu servidor de banco de dados
DB_PORT=1234
DATABASE_URL="1331313"
CEP=89254300
