POSTGRES_DB=precos-farmacia
POSTGRES_USER=admin
POSTGRES_PASSWORD=troque-esta-senha
DB_HOST=postgres
DB_PORT=5432
PORT=8001

ON_DEMAND_ENABLE_BROWSER_SCRAPERS=false
SCHEDULED_COLLECTION_ENABLE_BROWSER_SCRAPERS=false
SCHEDULED_COLLECTION_MAX_ITEMS_PER_CEP=50
SCHEDULED_COLLECTION_SLOTS=08:00,15:00
SCHEDULED_COLLECTION_SLOT_WINDOW_MINUTES=120
PRICE_RETENTION_DAYS=90
REFERENCE_DATA_DIR=data/reference
UVICORN_ACCESS_LOG=true
LOG_OPERATION_JOB_REUSED=false
EMBED_OPERATION_WORKER=false
EMBED_OPERATION_WORKER_POLL_SECONDS=5
SCRAPER_TERM_BATCH_SIZE=5

INTERNAL_API_AUTH_ENABLED=true
INTERNAL_API_TOKEN=troque-este-token-interno
MCP_EXPOSE_ADMIN_TOOLS=false
