[Unit]
Description=Super Melhor Preco Farmacia Worker
After=network.target super-melhor-preco-farmacia-api.service

[Service]
Type=simple
User=david
Group=david
WorkingDirectory=/home/david/apps/super_melhor_preco_farmacia/services/pricing-core
EnvironmentFile=/etc/super-melhor-preco-farmacia/app.env
ExecStart=/home/david/apps/super_melhor_preco_farmacia/services/pricing-core/.venv/bin/python -m src.worker_main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
